@import url('https://fonts.googleapis.com/css?family=Oswald|Permanent+Marker');

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

h1{
  font-family: "Permanent Marker";
  font-size: 50px;
  color: #d9bb91;
  padding-top: 20px;
}

button{
  font-family: "Permanent Marker";
  font-size: 25px;
  color: #d9bb91;
  padding:10px;
  border-radius: 15px;
  background-color: black;
}

.playroom{
  margin: 20px;
}

.main{
  font-family: "Permanent Marker";
  color: #d9bb91;
  font-size: 25px;
  max-width: 800px;
  min-height: 750px;
  background-color: black;
  margin: 0 auto;
}

.mousehole{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  display: inline-block;
  overflow: hidden;
  border: 5px solid #d9bb91;
}

.mouse{
  width: 140px;
  bottom: 0
  overflow: hidden;
  position:relative;
}

.pow{
  width: 150px;
  height: auto;
  position: relative;
  bottom: 150px
}

.mouse.visible{
  transition: bottom 0.5s linear;
	bottom: 0;
}

.mouse.hidden{
  transition: bottom 0.3s linear;
  bottom: -100%
}

.pow.hidden{

  display: none;
}

.pow.visible{
  display:block;
  margin-top: 30px
}

.scoreboard{
  margin-top: -20px
}
